.form {
    padding: 80px 0 80px 0;
}
.form__wrapper {
    padding: 48px 32px 40px 32px;
}
@media (max-width: 600px) {
    .form {
        padding: 40px 0 40px 0;
    }
    .form__wrapper {
        padding: 24px 8px 24px 8px;
    }
} 